@import '~@angular/material/theming';

// Define your custom palette.
$custom-lightgreen-palette: mat-palette($mat-light-green);

// Define the primary palette using your custom color.
$primary: mat-palette($custom-lightgreen-palette);

// Define the accent palette.
$accent: mat-palette($mat-pink, A200, A100, A400);

// Define the warn palette (optional).
$warn: mat-palette($mat-red);

// Create the theme object.
$theme: mat-light-theme($primary, $accent, $warn);

// Include the Angular Material core styles and your theme.
@include mat-core();
@include angular-material-theme($theme);

// Optionally include typography styles.
@include angular-material-typography($theme);