@import "https://fonts.googleapis.com/icon?family=Material+Icons";

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.palacinke {
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 24px;
  border-radius: 5px;
}

.watering-system {
  font-size: 24px;
  font-weight: bold;
}

.add-plant-button {
  margin-left: auto; /* Pushes the button to the far right */
}

mat-divider {
  width: 100%;
}